/*
filename: style.css
author: JohnVonNeumann
created: 18.08.2020
description: used throughout all the pages  */

body {
    background-image: url("images/dns.jpg");
    background-size: cover;
    margin-top: 80px;
    font-family: sans-serif;
    padding: 30px;
}

#topic-image {
    width: 100%;
}

#topic-banner {
    margin-bottom: 50px;
}

main {
    color: white;
    margin: 0 auto;
    border: 5px;
    width: 75%;
    text-align: center;
    background-color: grey;
    box-shadow: 0 0 5px 0 black;
    padding: 20px;
}

aside {
    margin: 0 auto;
    border: 5px;
    width: 75%;
    text-align: center;
    background-color: grey;
    box-shadow: 0 0 5px 0 black;
    padding: 20px;
}

article,
section {
    margin: 0 auto;
    border: 5px;
    width: 75%;
    text-align: center;
    background-color: grey;
    box-shadow: 0 0 5px 0 black;
    padding: 20px;
}


/* https://codetheweb.blog/style-a-navigation-bar-css/ */

.menu {
    background-color: #4E4E50;
    position: fixed;
    left: 0;
    right: 0;
    top: 0px;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    color: white;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

header li a {
    color: white;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4E4E50;
    color: white;
    text-align: center;
    height: 40px;
}

footer p a {
    text-decoration: none;
}

form {
    margin-bottom: 50px;
}

form fieldset {
    margin: 0 auto;
    border: 5px;
    width: 80%;
    text-align: center;
    background-color: grey;
    box-shadow: 0 0 5px 0 black;
    padding: 20px;
}

h1 {
    font-size: 40px;
    border: 7px grey;
    border-style: solid;
    box-shadow: 0 0 7px 0 black;
    background-color: #4e4e50;
    height: 45px;
}

h2 {
    font-size: 30px;
    border: 5px grey;
    border-style: solid;
    box-shadow: 0 0 5px 0 black;
    background-color: #4e4e50;
    height: 35px;
}

h3 {
    font-size: 20px;
    border: 3px grey;
    border-style: solid;
    box-shadow: 0 0 3px 0 black;
    background-color: #4E4E50;
    height: 25px;
}

h2,
h3 {
    font-family: verdana, sans-serif;
}

#results {
    table-layout: fixed;
    text-align: center;
    border: 1px black;
    border-style: solid;
    width: 100%;
}